/* Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  text-align: center;
  background-color: rgb(50, 50, 50);
  color: rgb(255, 255, 255);
}